.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  border-bottom: solid 1px;
  display: flex;
  align-items: center;
  img {
    width: 60px;
    margin: 10px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 15px;
    color: #8a8a8a;
    display:flex;
    align-items: end;
  }
  h3 {
    font-size: 14px;
  }
  .store-name {
    display: grid;
    grid-template: auto auto / auto auto;
    :first-child {
      grid-column: 1/3;
    }
    h1,h2,h3 {
      margin: 0;
    }
  }
  & > div {
    display: flex;
    flex: 1;
    align-items: center;
  }

  & > :last-child {
    justify-content: right;
    padding: 10px;
  }
}

.button {
  border: solid 1px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  margin: 5px;
  box-sizing: border-box;
  background: #FFF;
}