.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app > .container {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-auto-flow: column;
  grid-gap: 20px;
  padding: 20px;
}

.app > .container.selected {
  grid-template-columns: 2fr 1fr;
}

.app > .container > .details-wrapper {
  grid-row: 1 / 3;
}

.app > .container > .list-wrapper {
  position: relative;
}

.app > .container .open-add-modal {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background: none;
  border: none;
}

